*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato',sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

.container-1{
    background-image: url('./images/forestBG.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.cloud{
    overflow: hidden;
}
.cloud img{
    animation: cld calc(8s * var(--i)) linear infinite;
    opacity: .6;
    max-width: 100%;
    position: absolute;
    bottom: 0px;
}
@keyframes cld{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

